#tutorial {
  position: fixed;
  top: 10%;
  width: 700px;
  background-color: white;
  padding: 10px;
  z-index: 25;
  left: 50%;
  transform: translateX(-50%)
}

#tutorial p {
  margin: 0;
  color: #222222;
  font-size: 20px;
  text-align: center;
}

#tutorial strong {
  font-size: 24px;
  margin: 0 5px;
}

.tutorial-enter {
  opacity: 0;
}

.tutorial-enter.tutorial-enter-active {
  opacity: 1;
  transition: opacity 0.4s ease-out 0.4s;
}

.tutorial-leave {
  opacity: 1;
}

.tutorial-leave.tutorial-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
