.toast {
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.toast.success {
  background-color: #27ae60;
  color: white;
}

.toast.error {
  background-color: #c0392b;
  color: white;
}

.toast p {
  margin: 0;
}
