.main-auth-modal {
  min-width: 250px;
}

.main-auth-modal input {
  padding: 10px;
  margin: 5px 0;
  display: block;
  width: 100%;
  font-size: 14px;
}

.main-auth-modal .modal-message {
  cursor: pointer;
  color: #aaaaaa;
  font-size: 16px;
  margin-top: 10px;
}

.reset-password {
  font-size: 16px;
  max-width: 1300px;
  margin: 0 auto;
}

.reset-password h1 {
  color: white;
}

.reset-password input {
  font-size: 20px;
  display: block;
  margin: 15px 0;
  padding: 10px;
  width: 300px;
}

.reset-password .btn {
  color: white;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
